.box1 h2 {
	color: white;
	text-shadow: 2px 2px 4px black;
	padding-top: 6px;
	margin-left: 10px;
}

.box1 {
	width: 20%;
	height: 40px;
	margin: auto;
	background: #4890c9;
	margin-bottom: 20px;
	box-shadow: 2px 6px 8px #0d3a5e;
	border-radius: 16px;
}
.box1:hover {
	box-shadow: 4px 8px 10px black;
}
.box1:active {
	box-shadow: 4px 8px 10px #D3FFCE;
}