body {
	background: #f0f8ff;
}
.main {
	width: 100%;
}
.box {
	width: 50%;
}
form {
	float: left;
	margin-right: 20px;
	border: solid 1px gray;
	padding: 20px;
	box-shadow: 1px 2px 4px #c0c6cc;
	background: #d7ecff;
	font-weight: bold;
	color: #58b0ff;
	margin-bottom: 40px;
}